<div class="container">
  <form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="username" class="col-md-4">UserName: </label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username"  required #username="ngModel" minlength="6">
                <div *ngIf="form.submitted && username.invalid" class="text-danger">
                  <div *ngIf="username.errors.required">Username is required</div>
                  <div *ngIf="username.errors.minlength">Username must be at least 6 characters</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="username" class="col-md-4">Password: </label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="password" name="password" [(ngModel)]="user.password" required #password="ngModel" minlength="6">
                <div *ngIf="form.submitted && password.invalid" class="text-danger">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<h1></h1>


<!--    <div class="form-group">-->
<!--      <label for="password">Password</label>-->
<!--      <input type="text" class="form-control" id="password" name="password" required ngModel #password="ngModel" minlength="6">-->
<!--      <div *ngIf="form.submitted && password.invalid" class="text-danger">-->
<!--        <div *ngIf="password.errors.required">Password is required</div>-->
<!--        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>-->
<!--      </div>-->
<!--    </div>-->

    <button type="submit" class="btn btn-success" >Submit</button>

  </form>
</div>
