<button class="btn btn-primary" (click)="getEmpData()">Get Employee Data</button>
<br>
<br>

<table class="table table-bordered table-sm" *ngIf="employees.length>0">
  <thead>
  <tr>
    <th>#</th>
    <th>Id</th>
    <th>Name</th>
    <th>Salary</th>
    <th>Age</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of employees; let i = index">
    <td>{{(i+1)}}</td>
    <td>{{emp.id}}</td>
    <td>{{emp.employee_name}}</td>
    <td>{{emp.employee_salary}}</td>
    <td>{{emp.employee_age}}</td>
  </tr>
  </tbody>
</table>
