<div class="" style="background: #006c7f!important">
  <div class="container ">
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand" routerLink="" style="font-family: cursive;">I-PREPARE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto main-nav" style="margin-left: 15px;">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/home">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user">BCS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user">Primary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user">Ielts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-registration">Registration</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item dropdown float-right"  [routerLinkActive]="'active'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-user-circle" ></i> <span > Sufian</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"  ><i class="far fa-user"></i> Profile</a>
              <a class="dropdown-item"  style="cursor: pointer" ><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
          </li>
        </ul>

      </div>
    </nav>
  </div>
</div>
