.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.card-title {
  margin-bottom: .75rem;
}

.main-nav li{
  margin-right: 5px;
}

.navbar-nav li{
  margin-bottom: -5px;
}
